<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample Test Suite" verbose="1" >
  <test name="Method Test Cases" >
    <classes>
       <class name="AutomateTest">
        <methods>
        <include name=" login" />
        <include name="selectItem" />
        <include name="priceSelector" />
          <include name="scroll" />
      </methods>
       </class>
    </classes>
  </test>
</suite>